html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Light"; }

@font-face {
  font-family: "Pattaya-Regular";
  src: url("../fonts/Pattaya/Pattaya-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Pattaya/Pattaya-Regular.woff") format("woff"), url("../fonts/Pattaya/Pattaya-Regular.ttf") format("truetype"), url("../fonts/Pattaya/Pattaya-Regular.svg#Pattaya-Regular") format("svg");
  font-weight: normal;
  font-style: normals; }
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normals; }
@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
.container {
  margin: 0 auto;
  box-sizing: border-box; }

.section {
  text-align: center; }

.all_links:link {
  text-decoration: none; }
.all_links:hover {
  text-decoration: none;
  color: white; }
.all_links:visited {
  text-decoration: none;
  color: white; }

.row {
  margin: 0; }

.top_line {
  padding: 20px 0; }

.transparent_wrapper {
  background: linear-gradient(black 0%, transparent 70%);
  line-height: 74px; }

.uk_flag {
  margin-right: 10px; }

.btn_feedback {
  margin-left: 20px; }
.btn_feedback a {
  border: 1px solid #EC002C; }

.feedback_link {
  color: white;
  padding: 10px 20px;
  border: 1px solid #EC002C; }

.navbar {
  padding: 30px 0; }

.navbar-toggle {
  color: white; }

.navbar-inverse {
  background: rgba(0, 0, 0, 0.7); }

.nav_top a {
  color: white !important; }

@media screen and (min-width: 768px) {
  .language {
    display: none; }

  .number {
    display: none; }

  .dividing_line {
    display: none; } }
.banner_block {
  background: url("../imagies/bg-img.jpg");
  padding-top: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }

.banner_info {
  color: white; }

.banner_capt {
  font-size: 4rem;
  font-family: "Pattaya-Regular"; }

.banner_paragraph {
  width: 50%;
  margin: 20px auto 50px auto;
  font-size: 1.5rem; }

.button_banner {
  display: inline-block;
  padding: 10px 25px;
  color: white; }

.look_for_pants {
  background: #EC002C; }

.how_to_order {
  border: 2px solid white; }

.about_productivity {
  margin: 30px auto 0 auto;
  max-width: 1170px; }

.banner_icon_block {
  display: inline-block;
  background: #EC002C;
  padding: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px; }

.diamond_icon {
  width: 30px; }

.sewing_machine_icon {
  width: 20px; }

.pants_icon {
  width: 15px; }

.capt_banner_info {
  font-size: 1.3rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px; }

.banner_info_dividing_line {
  position: absolute;
  bottom: -12px;
  left: 5px;
  width: 30%;
  height: 5px;
  background: #EC002C; }

.text_banner_info {
  font-size: 1.2rem; }

.list_to_down {
  margin-top: 40px;
  text-align: center; }

.season_clothes_container {
  width: 100%;
  padding: 0;
  margin: 0 auto; }

.clothes_img {
  width: 100%; }

.season_item {
  box-sizing: border-radius;
  padding: 0 2.5px; }

.season_autumn {
  background: url(../imagies/leaves_autumn.png); }

.season_spring {
  background: url(../imagies/leaves_spring.png); }

.season_summer {
  background: url(../imagies/leaves_summer.png); }

.season_winter {
  background: url(../imagies/snow_winter.png); }

.season_name {
  background-repeat: no-repeat;
  padding: 20px 0; }

.capt_season_name {
  margin: 0;
  font-family: "Pattaya-Regular";
  color: #EC002C; }

.above_capt_season_name {
  font-family: "Roboto-Bold";
  margin-top: 0;
  font-size: 1.2rem;
  color: blacks; }

.products_block {
  background: url("../imagies/bg_products.png"); }

.products_container {
  padding: 50px 0; }

.capt_products {
  font-family: "Pattaya-Regular"; }

.product_list_row {
  margin-top: 50px; }

.product_item {
  padding: 0 5px; }

.product_image_hover_block {
  display: none;
  opacity: 0;
  vertical-align: middle; }

.loupe_block {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 50%;
  font-size: 3rem;
  text-align: center;
  line-height: 70px;
  color: white;
  background: #EC002C; }

.product_image_block {
  padding: 20px 0;
  background: white;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative; }
.product_image_block:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5); }
.product_image_block:hover .product_image_hover_block {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1; }

.product_item_info {
  padding-top: 15px; }

.product_name {
  text-transform: capitalize;
  display: block;
  color: #EC002C;
  font-family: "Roboto-Bold"; }

.product_price {
  display: block;
  font-family: "Roboto-Bold"; }

.img_pants {
  width: 100%; }

.pagination {
  margin: 20px 20px 0 20px; }
.pagination li a {
  border: 0;
  background: 0;
  color: black;
  font-family: "Roboto-Bold";
  border-radius: 50%; }
.pagination li a:hover {
  background: #EC002C;
  color: white; }
.pagination li a:active {
  background: #EC002C;
  color: white; }

.pagination_line {
  width: 30%;
  margin-bottom: 20px; }

.page-item {
  border: 0; }

.reviews_block {
  background: #FFF0F3;
  padding: 20px 0; }

.about_company {
  border-right: 2px solid #A8A8A8; }

.swiper-container {
  width: 600px;
  height: 300px; }

.reviews_side {
  text-align: center; }

.reviews_block_item {
  padding: 50px 50px; }

.btn_more {
  display: inline-block;
  margin-top: 30px;
  background: #EC002C; }

.btn_more_link {
  display: inline-block;
  padding: 10px 45px;
  color: white; }

.review_author_img_wrap {
  width: 80px;
  height: 80px;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  display: inline-block; }

.reviews_author_img {
  width: 100px; }

.capt_review {
  font-family: "Pattaya-Regular"; }

.divider_in_review {
  display: inline-block;
  width: 60px;
  height: 3px;
  border-radius: 3px;
  background: black; }

.review_author_name {
  font-family: "Roboto-Bold"; }

.reviews_item {
  background: #FFF0F3; }

.reviews_text {
  margin-top: 10px;
  font-style: italic; }

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.actions_container {
  padding: 50px; }

.action_items {
  background: #FFF0F3;
  padding: 20px;
  text-align: left;
  width: 24%;
  margin: 5px; }

.capt_actions {
  font-family: "Pattaya-Regular"; }

.action_date {
  font-size: 1.2rem;
  color: #595959;
  display: block; }

.mark_action {
  background: #EC002C;
  display: inline-block;
  padding: 5px 10px;
  color: white;
  margin-bottom: 20px; }

.mark_news {
  background: #26A6D1; }

.action_text {
  text-decoration: underline; }

.action_btn_read {
  color: #EC002C;
  font-family: "Roboto-Bold"; }

.registration_block {
  background: #4B1520;
  position: relative; }

.registration_container {
  vertical-align: middle;
  padding: 50px; }

.img_pink_rose {
  position: absolute;
  width: 200px;
  left: 0;
  top: -75px;
  z-index: 1; }

.capt_register {
  font-family: "Roboto-Bold";
  color: white;
  z-index: 5; }

.text_register {
  color: #A1848A; }

.input_email {
  height: 50px;
  margin-top: 34px;
  background: #63333D;
  border: #815B62;
  color: white; }

.footer_container {
  padding: 50px 0; }

.footer_icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  background: #EC002C; }

.advantages {
  border-right: 2px solid #a8a8a8; }
.advantages:last-child {
  border-right: 0; }

.social_item {
  display: inline-block; }

.social_networks {
  display: block;
  margin-top: 50px;
  padding: 0 70px 50px 70px;
  border-bottom: 1px solid #a8a8a8; }

.social_wrap {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #EC002C;
  color: white;
  line-height: 40px;
  text-align: center;
  font-size: 2rem; }

.social_net_name {
  color: #595959; }

.navigation {
  margin-top: 30px; }

.footer_nav_link {
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1rem;
  color: black;
  font-size: 1.4rem; }
.footer_nav_link:hover {
  text-decoration: none; }
.footer_nav_link:active {
  text-decoration: none; }

.nav_item {
  display: inline-block;
  font-family: "Roboto-Bold"; }
