.banner_block
	background: url("../imagies/bg-img.jpg")
	padding: 0
	background-size: cover
	background-repeat: no-repeat
	height: 670px
.banner_info
	// margin-top: 50vh
	// transform: translate(0, -100%)
	color: white
.banner_capt
	font-size: 4rem
	font-family: "Pattaya-Regular"
.banner_paragraph
	width: 50%
	margin: 20px auto 50px auto
	font-size: 1.5rem
.button_banner
	display: inline-block
	padding: 10px 25px
	color: white
.look_for_pants
	background: $accent-color
.how_to_order
	border: 2px solid white
.about_productivity
	margin-top: 30px
.banner_icon_block
	display: inline-block
	background: $accent-color
	padding: 0
	width: 50px
	height: 50px
	border-radius: 50%
	line-height: 50px
.diamond_icon
	width: 30px
.sewing_machine_icon
	width: 20px
.pants_icon
	width: 15px
.capt_banner_info
	font-size: 1.3rem
	text-transform: uppercase
.text_banner_info
	font-size: 1.2rem
.list_to_down
	margin-top: 40px
	text-align: center