.top_line
	padding: 20px 0
.transparent_wrapper
	background: linear-gradient(black 0%, transparent 70%)
	line-height: 74px
.logo
	// position: absolute
.uk_flag
	margin-right: 10px
.language
	// font-size: 2rem
	display: inline-block
	color: white
.nav_list
	// line-height: 70px
.nav_item
	display: inline-block
	font-family: "Roboto-Bold"
.nav_link
	text-decoration: none
	padding: 10px 15px
	color: white
.phone_numder
	display: inline-block
.number
	color: white
.btn_feedbak
	display: inline-block
.feedback_link
	color: white
	padding: 10px 20px
	border: 1px solid $accent-color
